# Keep in mind that all VITE_ prefixed variables are exposed to the client-side,
# which means they will be included in the final build and can be seen by anyone
# who inspects your application.

VITE_PAGE_TITLE=
VITE_API_URL=http://localhost:3000

# Registry URL for fetching templates
REGISTRY_URL=https://raw.githubusercontent.com/acfatah/shadcn-vue-ark/refs/heads/main/packages/registry/public/r
